input {
    margin-top: 0.625rem;
    padding: 0.4rem;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    column-gap: 1.25rem;
    button {
        text-transform: capitalize;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
}